body{
    overflow-x: hidden;
    margin: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: darkgray;
    background-image: url("abstract-5035370_1920.jpg");

}

nav{
    padding-right: 60px;
    margin-top: 20px;
    font-size: x-large;
    background-color: transparent;
    backdrop-filter: blur(60px);
    border: 2px solid darkgray;
    border-radius: 10px;
    margin-right: 10px; 
    margin-left: 10px;
}

ul{
    margin: 30px;
    text-align: center;
    display: inline-flex;
}

#logo{
    margin-left: 0px;
}

#kosar{
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: inline;
    background-color: transparent;
    float: right;
    backdrop-filter: blur(60px);
    border-radius: 10px;
}

a{
    font-size: xx-large;
    position: sticky;
    margin-left: 15px;
    color: white;
}

p{
    font-size: larger;
    margin: 10px;
    margin-right: 10px;
    text-align: left;
    color: white;
}

h1{
    text-align: left;
    margin: 15px;
    margin-bottom: 40px;
    color: white;
}

.termékek {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
 }

.termék-ablak {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    background: transparent;
    backdrop-filter: blur(60px);
    flex: 1;
}

.termék-kép {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.vásárlás {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

h1 {
    text-align: center;
    margin-top: 40px;
    color: white;
}

.card-title {
    font-size: 28px; 
    margin-bottom: 10px; 
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.paddingplus{
    padding-bottom: 5px;
}