.termek{
    margin-right: 50px;
    border: 2px solid white;
    width: 300px;
    border-radius: 10px;
    margin: 10px;
    color: white;
    background-color: transparent;
    backdrop-filter: blur(30px);
    text-align: center;
    padding-bottom: 80px;
    margin-right: 75px;
}

img{
    margin: 20px;
}

.delllogo{
margin-left: auto;
margin-right: auto;
display: block;
}
button{
    border: 2px solid black; 
    background-color: blue;
    border-radius: 10px;
    width: 120px;
    height: 40px;
}

#osszestermek{
    display: inline-flex;
}


body{
    text-align: center;
}
a{
    font-size: xx-large;
    position: sticky;
    margin-left: 15px;
    color: white;
}
.visszagomb {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 65px;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
    text-align: center;
    background: transparent;
    backdrop-filter: blur(60px);
    color: white;
}
