.termek{
    margin-right: 50px;
    border: 2px solid white;
    width: 300px;
    border-radius: 10px;
    margin: 10px;
    color: white;
    background-color: transparent;
    backdrop-filter: blur(30px);
    text-align: center;
    padding-bottom: 80px;
    margin-right: 75px;
}

img{
    margin: 20px;
}


#osszestermek{
    display: inline-flex;
}


body{
    text-align: center;
}

.button{
    border-radius: 10px;
}
a{
    font-size: xx-large;
    position: sticky;
    margin-left: 15px;
    color: white;
}
