.kozepre {
    text-align: center;
}

.row {
    justify-content: center;
}

.termék-ablak {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    background: transparent;
    backdrop-filter: blur(60px);
    flex: 1;
    margin: 0 10px;
}

.termék-kép {
    max-width: 200%;
    height: auto;
    border-radius: 5px;
}

.vásárlás {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.radon {
    text-align: center;
}
.visszagomb {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 60px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    text-align: center;
    background: transparent;
    backdrop-filter: blur(60px);
    color: white;
    position: fixed;
    font-size: large;
}
